
div.intro {
	padding: 5% 0;
	display: flex;
	justify-content: space-between;
}
div.intro div.image { width: 30%; }
div.intro div.image img {border: 1px solid white;}
div.intro div.text {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.intro h1 {
	font-size: 82px;
	margin-bottom: 20px;
}

div.middle { width: 100%; }

div.section h2 { text-align: center; }

div.section#about div.left { width: 22%; border-right: 1px solid white; }
div.section#about div.right { width: 62%; }

ul#links { list-style-type: none; }
ul#links a { text-decoration: none; }
ul#links li { margin-bottom: 7px; }
ul#links li:first-of-type { margin-bottom: 10px; }
ul#links li:hover { text-decoration: underline; }
ul#links li i { width: 30px	; }

div#about-me img { width: 70%; }


div.presents#recently > div { width: 28%; }
div.presents#recently > div div.image { height: 0; padding-bottom: 56.25%; }

div.presents#research > div { width: 28%; }
div.presents#research > div div.image { height: 0; padding-bottom: 56.25%; }

div.section#hacking div.middle {
	display: flex;
	justify-content: space-between;
}
div.section#hacking div.middle div.left { width: 47.5%; }
div.section#hacking div.middle div.right { width: 47.5%; }

@media screen and (max-width: 480px) {
	div.intro { flex-direction: column; align-items: center; width: 60%; padding: 20%; }
	div.intro div.image { width: 100%; margin-bottom: 10%; }
	div.intro div.text { width: 100%; text-align: center; }
	div.intro div.text h1 { font-size: 32px; }
}