/* Created on 2024-07-29 by Ãcaro Freire (https://github/ivfreire) */

:root {
	--color-1st: black;
	--color-2nd: darkslateblue;
	--color-3rd: white;
}

* {
	margin: 0;
	padding: 0;
	font-family: Consolas;
}

body {
	background-color: var(--color-1st);
}

p, a, span, h1, h2, h3, h4, h5, h6 {
	color: var(--color-3rd);
}

div.page {
	width: 50%;
	margin: 0 25%;
}

div.widgets {
	width: 100%;
	display: flex;
	flex-direction: column;
}

div.widgets > div {
	width: 100%;
}

div.widgets div#navbar {
	display: flex;
	justify-content: left;
	background: transparent;
	border-bottom: 1px dashed var(--color-3rd);
}

div.widgets div#navbar ul {
	display: flex;
	list-style-type: none;
	flex-direction: row;
}

div.widgets div#navbar ul li {
	margin: 50px;
}

div.widgets div#footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	background: transparent;
	border-top: 1px dashed var(--color-3rd);
}

div.widgets div#footer p {
	margin: 50px;
	text-align: center;
}